###
# Set to "True" to enable Django DEBUG mode.
# https://docs.djangoproject.com/en/1.8/ref/settings/#debug
#
DJANGO_DEBUG=False
DJANGO_SECRET_KEY={{ django_secret_key }}
SESSION_COOKIE_DOMAIN={{ session_cookie_domain }}
DESIGNSAFE_ENVIRONMENT={{ designsafe_environment }}

###
# DATABASE
# Uncomment and set these variables to use an external MySQL database
#
{% if database_host is defined %}
DATABASE_HOST={{ database_host }}
DATABASE_PORT={{ database_port }}
DATABASE_NAME={{ database_name }}
DATABASE_USER={{ database_user }}
DATABASE_PASSWORD={{ database_password }}
{% endif %}

###
# TAS API
#
# For TAS API integration you will need to obtain a set of TAS client credentials. Submit
# a ticket to TACC Staff to obtain these credentials (or see @mrhanlon).
#
TAS_CLIENT_KEY={{ tas_client_key }}
TAS_CLIENT_SECRET={{ tas_client_secret }}
TAS_URL={{ tas_url }}

###
# EMAIL
#
SMTP_HOST={{ smtp_host}}
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
DEFAULT_FROM_EMAIL={{ default_from_email }}
NEW_ACCOUNT_ALERT_EMAIL={{ new_account_alert_email }}

###
# Google Analytics
#
GOOGLE_ANALYTICS_PROPERTY_ID={{ google_analytics_property_id }}

###
# Opbeat Performance Metrics
#
OPBEAT_ORGANIZATION_ID={{ opbeat_organization_id }}
{% if inventory_hostname != 'worker' %}
  OPBEAT_APP_ID={{ opbeat_app_id }}
{% else %}
  OPBEAT_APP_ID={{ opbeat_workers_app_id }}
{% endif %}
OPBEAT_SECRET_TOKEN={{ opbeat_secret_token }}

###
# Agave Tenant Configuration
#
# To configure Agave Authentication for DesignSafe-CI Portal, you need to
# generate a set of API client keys. The client MUST be configured with a `callbackUrl`
# which should be the URL path to the `designsafe.apps.auth.views.agave_oauth_callback`
# view. In production, this would be `https://www.designsafe-ci.org/auth/agave/callback/`.
# If you are following the "First time setup" from the README, this would be
# `http://$DOCKER_HOST_IP:8000/auth/agave/callback/`, where `$DOCKER_HOST_IP` is either
# `localhost` or the result of the `docker-machine ip machine-name` command.
#
# See http://agaveapi.co/documentation/beginners-guides/#getting-your-client-api-keys
# for more information
#
AGAVE_TENANT_ID={{ agave_tenant_id }}
AGAVE_TENANT_BASEURL={{ agave_tenant_baseurl }}

AGAVE_CLIENT_KEY={{ agave_client_key }}
AGAVE_CLIENT_SECRET={{ agave_client_secret }}
AGAVE_SUPER_TOKEN={{ agave_super_token }}

AGAVE_SANDBOX_CLIENT_KEY={{ agave_sandbox_client_key }}
AGAVE_SANDBOX_CLIENT_SECRET={{ agave_sandbox_client_secret }}
AGAVE_SANDBOX_SUPER_TOKEN={{ agave_sandbox_super_token }}

AGAVE_USE_SANDBOX={{ agave_use_sandbox }}

AGAVE_STORAGE_SYSTEM={{ agave_storage_system }}
AGAVE_JWT_PUBKEY={{ agave_jwt_pubkey }}
AGAVE_JWT_ISSUER={{ agave_jwt_issuer }}
AGAVE_JWT_HEADER={{ agave_jwt_header }}
AGAVE_JWT_USER_CLAIM_FIELD={{ agave_jwt_user_claim_field }}

DS_ADMIN_USERNAME={{ds_admin_username}}
DS_ADMIN_USERNAME={{ds_admin_password}}

###
# Box.com Integration
#
BOX_APP_CLIENT_ID={{ box_app_client_id }}
BOX_APP_CLIENT_SECRET={{ box_app_client_secret }}

# djangoRT
RT_HOST={{ rt_host }}
RT_USERNAME={{ rt_username }}
RT_PASSWORD={{ rt_password }}
RT_DEFAULT_QUEUE={{ rt_default_queue }}

###
#
# NEEShub User Database
#
NEES_DATABASE_NAME={{ nees_database_name }}
NEES_DATABASE_HOST={{ nees_database_host }}
NEES_DATABASE_PORT={{ nees_database_port }}
NEES_DATABASE_USER={{ nees_database_user }}
NEES_DATABASE_PASSWORD={{ nees_database_password }}

PROJECT_SYSTEM_STORAGE_CREDENTIALS={{ project_system_storage_credentials }}

###
#
# Dropbox Integration
#
DROPBOX_APP_KEY={{ dropbox_app_key }}
DROPBOX_APP_SECRET={{ dropbox_app_secret }}


###
#
# REcaptcha Integration for CMS
#
DJANGOCMS_FORMS_RECAPTCHA_PUBLIC_KEY={{ djangocms_forms_recaptcha_public_key }}
DJANGOCMS_FORMS_RECAPTCHA_SECRET_KEY={{ djangocms_forms_recaptcha_secret_key }}

###
#
# Celery config
#
CELERY_BROKER_URL_PROTOCOL={{ celery_broker_url_protocol }}
CELERY_BROKER_URL_USERNAME={{ celery_broker_url_username }}
CELERY_BROKER_URL_PWD={{ celery_broker_url_pwd }}
CELERY_BROKER_URL_HOST={{ celery_broker_url_host }}
CELERY_BROKER_URL_PORT={{ celery_broker_url_port }}
CELERY_BROKER_URL_VHOST={{ celery_broker_url_vhost }}
#BROKER_URL = 'amqp://designsafe:pwd@rabbitmq:5672//'
CELERY_RESULT_BACKEND_PROTOCOL={{ celery_result_backend_protocol }}
CELERY_RESULT_BACKEND_USERNAME={{ celery_result_backend_username }}
CELERY_RESULT_BACKEND_PWD={{ celery_result_backend_pwd }}
CELERY_RESULT_BACKEND_HOST={{ celery_result_backend_host }}
CELERY_RESULT_BACKEND_PORT={{ celery_result_backend_port }}
CELERY_RESULT_BACKEND_DB={{ celery_result_backend_db }}

WS_BACKEND_HOST={{ ws_backend_host }}
WS_BACKEND_PORT={{ ws_backend_port }}
WS_BACKEND_USER={{ ws_backend_user }}
WS_BACKEND_PASS={{ ws_backend_pass }}
WS_BACKEND_DB={{ ws_backend_db}}
DATACITE_USER={{datacite_user}}
DATACITE_PASS={{datacite_pass}}
DATACITE_SHOULDER={{datacite_shoulder}}
DATACITE_URI={{datacite_uri}}

NEW_RELIC_LICENSE_KEY={{new_relic_license_key}}
NEW_RELIC_CONFIG_FILE={{new_relic_config_file}}
NEW_RELIC_ENVIRONMENT={{new_relic_environment}}

GOOGLE_SITE_VERIFICATION_ID={{google_site_verification_id}}
RAMP_VERIFICATION_ID={{ramp_verification_id}}

LOGIN_REDIRECT_URL={{login_redirect_url}}
LOGIN_URL={{login_url}
