version: "3"
services:
  memcached:
      image: memcached
      restart: always

  websocket:
      image: designsafeci/portal:{{ version }}
      env_file: designsafe.env
      logging:
          driver: syslog
          options:
              tag: designsafe_websocket
      hostname: {{websocket_container_hostname}}
      ports:
          - 9000:9000
      links:
          - memcached:memcached
      volumes:
          - /srv/www/designsafe/static:/srv/www/designsafe/static
          - /srv/www/designsafe/media:/srv/www/designsafe/media
          - /srv/www/designsafe/redis_data:/data
          - /corral-repl/tacc/NHERI:/corral-repl/tacc/NHERI
      command: daphne -b 0.0.0.0 -p 9000 --access-log - --proxy-headers designsafe.asgi:application
      restart: always

  django:
      image: designsafeci/portal:{{ version }}
      env_file: designsafe.env
      logging:
          driver: syslog
          options:
              tag: designsafe_main
      hostname: {{django_container_hostname}}
      ports:
      - 8000:8000
      links:
          - memcached:memcached
      volumes:
          - /srv/www/designsafe/static:/srv/www/designsafe/static
          - /srv/www/designsafe/media:/srv/www/designsafe/media
          - /srv/www/designsafe/redis_data:/data
          - /corral-repl/tacc/NHERI:/corral-repl/tacc/NHERI
          - /srv/www/designsafe/client_secrets.json:/srv/www/designsafe/designsafe/client_secrets.json
          - /srv/www/designsafe/conf/uwsgi/uwsgi.ini:{{uwsgi.ini_path}}
          - /srv/www/designsafe/external_resource_secrets.py:/srv/www/designsafe/designsafe/settings/external_resource_secrets.py
      command: uwsgi --ini {{uwsgi.ini_path}}
      restart: always

  docs:
      image: designsafeci/ds-use-case-template:latest
      volumes:
          - /srv/www/designsafe/ds-use-case:/docs/site
      command: ["/bin/sh", "-c", "mkdocs build && tail -f /dev/null"]
      container_name: designsafe_use_case
      logging:
          driver: syslog
          options:
              tag: designsafe_use_case
      labels:
          - "com.centurylinklabs.watchtower.enable=true"

  userguide:
      image: designsafeci/ds-user-guide:latest
      volumes:
          - /srv/www/designsafe/user-guide:/docs/site
      command: ["/bin/sh", "-c", "mkdocs build && tail -f /dev/null"]
      container_name: designsafe_user_guide
      logging:
          driver: syslog
          options:
              tag: designsafe_user_guide
      labels:
          - "com.centurylinklabs.watchtower.enable=true"

  watchtower:
      image: containrrr/watchtower
      environment:
          - WATCHTOWER_INCLUDE_STOPPED=true
          - WATCHTOWER_REVIVE_STOPPED=true
      volumes:
          - /var/run/docker.sock:/var/run/docker.sock
      command: --interval 30 --label-enable --cleanup --enable-lifecycle-hooks
      logging:
          driver: syslog
          options:
              tag: designsafe_watchtower
      restart: always
