data:
    image: buildpack-deps:trusty
    volumes:
        - /designsafe/static:/var/www/designsafe-ci.org/static
        - /designsafe/media:/var/www/designsafe-ci.org/media
        - /designsafe/redis_data:/data
        - /corral-repl/tacc/NHERI:/corral-repl/tacc/NHERI

rabbitmq:
    image: rabbitmq:3.6.8-management
    volumes_from:
        - data
    ports:
        - 5672:5672
        - 15672:15672
    environment:
        - RABBITMQ_DEFAULT_USER={{ rabbitmq_default_user }}
        - RABBITMQ_DFEAULT_PASS={{ rabbitmq_default_pass }}
        - RABBITMQ_DEFAULT_VHOST={{ rabbitmq_default_vhost }}

redis:
    image: redis
    command: redis-server --appendonly yes
    volumes_from:
        - data
    ports:
        - 6379:6379

memcached:
    image: memcached

worker:
    image: designsafeci/portal:{{ version }}
    env_file: designsafe.env
    log_driver: syslog
    log_opt:
        tag: designsafe_taskqueue
    links:
        - redis:redis
        - memcached:memcached
        - rabbitmq:rabbitmq
    volumes_from:
        - data
    command: ./bin/run-celery.sh
