data:
    image: buildpack-deps:trusty
    volumes:
        - /srv/www/designsafe/static:/srv/www/designsafe-ci.org/static
        - /srv/www/designsafe/media:/srv/www/designsafe-ci.org/media
        - /srv/www/designsafe/redis_data:/data
        - /corral-repl/tacc/NHERI:/corral-repl/tacc/NHERI

memcached:
    image: memcached

websocket:
    image: designsafeci/portal:{{ version }}
    env_file: designsafe.env
    log_driver: syslog
    log_opt:
        tag: designsafe_websocket
    hostname: {{websocket_container_hostname}}
    ports:
        - 9000:9000
    links:
        - memcached:memcached
    volumes_from:
        - data
    command: /usr/local/bin/uwsgi --ini /srv/www/designsafe/conf/uwsgi/uwsgi_websocket.ini

django:
    image: designsafeci/portal:{{ version }}
    env_file: designsafe.env
    log_driver: syslog
    log_opt:
        tag: designsafe_main
    hostname: {{django_container_hostname}}
    ports:
    - 8000:8000
    links:
        - memcached:memcached
    volumes_from:
        - data
    volumes:
        - /srv/www/designsafe/client_secrets.json:/srv/www/designsafe/designsafe/client_secrets.json
    command: newrelic-admin run-program /usr/local/bin/uwsgi --ini {{uwsgi_ini_path}}
