[Unit]
Description=DesignSafe Main Portal
Requires=nginx.service docker.service
After=docker.service

[Service]
User=portal
ExecStart=/usr/local/bin/docker-compose -f /srv/www/designsafe/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f /srv/www/designsafe/docker-compose.yml stop ; /usr/local/bin/docker-compose -f /srv/www/designsafe/docker-compose.yml rm -f
Restart=always

[Install]
WantedBy=multi-user.target
